*__pycache__
*mock
.idea
info/**
dist/
.obsidian/
run.py
logs/**
.env
.env.test
.env.local
.env.docker.local
.coverage
.venv
**/task.md
.ruff_cache
.ropeproject
.python-version
build/
htmlcov
.cursor/
.tmp/
docker-compose.local.yaml
test.py
.env.dev
mise.toml
